.AddEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddEvent__TimeMain {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
}

.AddEvent__ErrorState input:invalid {
  border-color: red;
}

.AddEvent__ErrorMessage {
  color: red;
}

input {
  font-size: 20px;
  border: 1px solid #000000;
}

button {
  background-color: #2c3e50;
  color: #ffffff;
  width: 7rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  margin-top: 20px;

  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  font-size: 1em;
  border-radius: 0.25em;
}

button:hover {
  background-color: #1e2b37;
}
