.Nav {
  background-color: azure;
  width: 100%;
  height: 100px;
}

.Nav__Main {
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  height: 75px;
  border-bottom: 5px solid #4b709b2a;
}

.Nav__Main > ul {
}

.Nav__Main > li {
  list-style: none;
  text-decoration: none;
  display: flex;
  height: 75px;
  align-items: center;
  padding: 0px 20px;
  cursor: pointer;
}

.Nav__Main > li:hover {
  border-bottom: 5px solid #f8e800;
  transition: 0.3s;
}

.Nav__Main > li > a {
  color: #374147;
  text-decoration: none;
}
